@import '~video.js/dist/video-js.css';

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html,body{
//   font-family: 'Dosis', sans-serif;
  font-family: '"Arial","Helvetica"', sans-serif;
}

.builder-loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: 5%;
    overflow: hidden;
    background-color: #fafafa;
    z-index: 900000080;
    background-size: 50px;
}